<div class="w-100 d-flex justify-content-between p-3">

  <div>
    <a *ngIf="back!==''" [routerLink]="back">
      <mat-icon>arrow_back</mat-icon>
    </a>
  </div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" yPosition="below">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Salir</span>
      </button>
    </mat-menu>
  </div>
</div>