<!--div class="col-md-4" *ngFor="let game of games">
    
    <div class="card text-center">
        <div class="card-header">
            {{game.Tarjeta}}
            {{game.Temp}}

            
        </div>

        <div class="card-body">

        </div>
    </div>

</div-->


<div class="card text-center">
    <div class="card-header">
      
    </div>
    <div class="card-body">
      <h6 class="card-title">Equipos del piso 2</h6>
      <a href="#" class="btn btn-success" routerLink="/eléc_piso2">Ingresar</a>
      <a href="#" class="btn btn-primary" routerLink="/equipos">Regresar</a>
    </div>
  </div>




  <div class="card text-center">
    <div class="card-header">
      
    </div>
    <!--div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <div class="alert alert-primary" role="alert">
              <h6 class="card-title">Piso 3</h6>
              </div>
        </li>
      </ul>
    </div-->
    <div class="card-body">
      <h6 class="card-title">Equipos del piso 3</h6>
      <a href="#" class="btn btn-success" routerLink="/eléc_piso3"> Ingresar</a>
      <a href="#" class="btn btn-primary" routerLink="/equipos">Regresar</a>
    </div>
  </div>

 

