
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Consumo eléctrico</h5>
          <p class="card-text">Consulta de consumo eléctrico para los diferentes equipos.</p>
          <a href="#" class="btn btn-info" routerLink="/eléctricos">Ingresar</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Consulta de temperatura</h5>
          <p class="card-text">Consulta de temperatura para los diferentes cuartos fríos.</p>
          <a href="#" class="btn btn-info" routerLink="/cuartosfríos">Ingresar</a>
        </div>
      </div>
    </div>
  </div>